.tickethack-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 
}

#homeButton {
    font-size: 25px;
    color: #00a272f2;
    text-decoration: none;
    font-weight: 600;
  }
  
  .secondaryButton {
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
  }